



*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: fixed;

    width: 100%;
height: 80px;
}
 label.logo{
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0px 60px;
    line-height: 80px;
    color: white;
}
nav ul {
    float: right;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
   
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: block;
}
 /* .active{
    background-color: brown;
    width: 50px;
    height: 50px;
   padding-top: 10px;
}  */
.locol{
    margin-top: 5px;
}
nav ul li a:hover{
    cursor: pointer;
    color: red;
    /* background : aqua;
    /* cursor: pointer;
    height: 20px; */
    /* height: 20px; */
    /* border-radius: 25%;
    margin-top: 10px; */ 
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 50px;
    font-size: 30px;
    color: white;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}

nav ul li a{
    /* transition: 3s; */
}
label.logo{
    /* transition: 3s 1s; */

}
.card{
    /* transition: 2s; */
}









@media (max-width:390px){
label.logo{
    font-size: 18px;
    margin: 0px 50px;
}
.locol{
    /* margin-left: 160px; */
}


}
@media (max-width:390px){
    #checkbtn{
       
        display: block;
        /* position: fixed; */
    }
    nav ul{
        width: 100%;
       height: 100vh;
       background-color: rgb(22, 11, 17);
       position:fixed;
       top: 80px;
       left: -100%;
       transition: .5s;
    }
    nav ul li{
        line-height: 50px;
        margin: 20px;
    }
    label.logo{
        font-size: 20px;
    }


    nav ul li{
        display: block;
        text-align: center;
    }


}
.gallery{
    width: 100%;
    background-color: rgb(19, 17, 14);
    height: auto;
}
.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: inherit;
    /* margin-left: 200px; */
    /* margin-top: 120px; */
    padding-top: 90px;
    
}
.gallery .box-container .box {
    /* height: 26rem; */
    /* margin-left: 200px; */
    flex: 1 1 20rem;
    background-color: #ffffff;
    border: 1px solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    width: 50%;
    height: 500px;
}
.para {
    width: 100%;
    height: 1px;margin-left: 300px;
}
.gallery .box-container .box #tin1 {
    background: rgba(3, 128, 245, 0.9);
    /* margin-left: 140px; */
}
.gallery .box-container .box .content {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    /* width: 200px;
    height: 300px; */
    /* margin-left: 300px; */
}
.gallery .box-container .box .content h3 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}
.gallery .box-container .box #tin2 {
    background: rgba(25, 25, 26, 0.9);
}
.gallery .box-container .box #tin4 {
    background: rgba(255, 234, 166, 0.9);
}
.gallery .box-container .box #tin5 {
    background: rgba(31, 76, 117, 0.9);
}
.gallery .box-container .box .content {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    /* margin-left: 200px; */
}
.gallery .box-container .box #tin6 {
    background: rgba(255, 153, 0, 0.9);
    margin-left: 300px;
}
#tin7 {
    background: rgba(252, 166, 38, 0.9);
}
.gallery .box-container .box #tin8 {
    background: rgba(250, 51, 61, 0.9);
}
.gallery .box-container .box #tin9 {
    background: rgba(250, 51, 61, 0.9);
}
.gallery .box-container .box #tin10 {
    background: rgba(250, 51, 61, 0.9);
}
.gallery .box-container .box #tin11 {
    background: rgba(250, 51, 61, 0.9);
}
.gallery .box-container .box #tin12 {
    background: rgba(250, 51, 61, 0.9);
}
@media (max-width:390px){


    .gallery{
        width: 100%;
        height: auto;
        background-color: rgb(10, 9, 8);
    }
    .gallery .box-container .box .content{
        /* margin-left: 400px; */
    }
    .gallery .box-container {
        display: inline-block;
        flex-wrap: nowrap;
        gap: 2rem;
        position: inherit ;
        /* margin-left: 200px; */
        /* margin-left: 120px; */
        width: 100%;
        margin-top: 10px;
        /* padding-top: -20px; */
        /* padding: 30px; */
        /* height: 400px; */
        /* gap: 30px; */
        
    }
    .gallery .box-container .box{
        width: 80%;
        height: 500px;
        background-color: rgb(115, 133, 133);
        /* padding-top: 20px; */
        /* margin: 30px; */
        margin-top: 20px;
        margin-left: 15px;
    }
}


